<div class="container" style="margin-top: 20px;">
<div class="col-md-12">
    <button (click)="addUser()" class="btn btn-info"> Add user</button>    
  <h2> User Details</h2>  
  <div class="table-responsive table-container">  
    <table class="table table-hover">  
      <thead>  
        <tr>  
          <th>Id</th>  
          <th>User FirstName</th>  
          <th>User LastName</th>  
          <th>EmailId</th>  
          <th>Adress</th>
          <th>Action</th>
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let item of users">  
          <td class="hidden">{{item.id}}</td>  
          <td>{{item.name}}</td>  
          <td>{{item.username}}</td>  
          <td>{{item.email}}</td>  
          <td>{{item.address.city}}</td>
         
          <td>  
            <button (click)="deleteuser(item)" class="btn btn-info"> Delete</button>  
            <button (click)="editUser(item)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
</div>  
</div>